.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    background-color: white;
    padding: 20px;
    margin: 0 0 10px 0;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: auto;
    }
}

.form__newTaskInput {
    padding: 10px;
    border: 2px #eee solid;
}

.form__newTaskButton {
    border-style: none;
    color: white;
    background-color: teal;
    padding: 10px;
}

.form__newTaskButton:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__newTaskButton:active {
    background-color: hsl(180, 100%, 35%);
}