.list__tasks {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.list__item {
    text-decoration: none;
    list-style-type: none;
}

.list__item--done {
    text-decoration: line-through;
}

.list_doneButton {
    background-color: green;
    color: white;
}

.list__removeButton {
    background-color: red;
    color: white;
}