.list__tasks {
    display: grid;
    word-break: break-word;
    padding-inline-start: 0px;
    background-color: white;
    margin: 0px auto;
    padding: 30px 20px 0px 20px;
}

.list__tasksItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 2px #eee solid;
    text-decoration: none;
    list-style-type: none;
}

.list__tasksItem--done {
    text-decoration: line-through;
}

.list__doneButton {
    background-color: #008000;
    color: white;
    border-style: none;
    height: 30px;
    width: 30px;
}

.list__doneButton:hover {
    background-color: hsl(120, 100%, 30%);
}

.list__doneButton:active {
    background-color: hsl(120, 100%, 35%);
}


.list__removeButton {
    background-color: red;
    border-style: none;
    color: white;
    height: 30px;
    width: 30px;
}

.list__removeButton:hover {
    background-color: hsl(0, 100%, 55%);
}

.list__removeButton:active {
    background-color: hsl(0, 100%, 60%);
}