html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    max-width: 1000px;
    min-width: 300px;
}